<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MDS Online</title>
    @Styles.Render("~/Content/css")
</head>
<body data-ng-app="MdsOnlineApp">
    
    <header>
        @Html.Action("BarraMenu", "Home")
    </header>
    <main class="container-fluid body-content">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container-fluid">&copy; @DateTime.Now.Year - MDS Online</div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/angular-infra")
    @Scripts.Render("~/bundles/angular-services")
    @Scripts.Render("~/bundles/angular-controllers")
    @RenderSection("scripts", required: false)
</body>
</html>
